body{
  background-color: #161853;
}

a{
  text-decoration: none;
}

h1{
  color: #FAEDF0;
  text-shadow: 0.25vw 0.25vw black;
}

p{
  color: black;
}

div{
  border-radius: 0.52vw;
  border: 0.1vw;
}

.top{
  margin-top: 2.5vw;
  margin-left: 10%;
  margin-right: 10%;
  height: 8.33vw;
  background-color: #161853;
}

.top-heading{
  display: block;
  font-size: 2.5vw;
  text-align: center;
  height: 8.33vw;
  background-color: #161853;
  position: relative;
  top: 1.25vw;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.middle{
  position: sticky;
  top: 0;
  z-index: 3;
  border-radius: 0;
  margin-left: 2%;
  margin-right: 2%;
  height: 10vw;
  margin-top: 2.5vw;
  background-color: #161853;
}

.title-box{
  font-family: 'Cabin', sans-serif;
  text-align: center;
  font-size: 1.2vw;
  height: 4.16vw;
  width: 40%;
  background-color: #292C6D;
  display: inline-block;
  margin-top: 3%;
  margin-left: 4%;
}

.title-box:hover{
  background-color: #06113C;
}

.heading-box-content{
  color: #FAEDF0;
  position: relative;
  top: 0.5rem;
}

.subheading-box{
  background-color: #FAEDF0;
  font-family: 'Cabin', sans-serif;
  text-align: center;
  font-size: 1.25vw;
  height: 4.16vw;
  width: 15%;
  display: inline-block;
  margin-top: 3%;
  margin-left: 2%;
}

.subheading-box:hover{
  background-color: #F7E2E2;
}

.content{
  margin-left: 2%;
  margin-right: 2%;
  height: 5.2vw;
  background-color: #161853;
}

.content-box-title{
  font-family: 'Cabin', sans-serif;
  text-align: center;
  font-size: 1vw;
  height: 3.4vw;
  width: 40%;
  background-color: #EC255A;
  display: inline-block;
  margin-left: 4%;
}

.content-box-title:hover{
  background-color: #D82148;
}

.content-box-content-title{
  color: #FAEDF0;
}

.content-box-content{
  color: black;
  position: relative;
  top: 0.45vw;
}

.content-box-detail{
  /* box-shadow: 0.255vw 0.52vw #000D6B; */
  background-color: #FAEDF0;
  font-family: 'Cabin', sans-serif;
  text-align: center;
  font-size: 0.9vw;
  height: 3.4vw;
  width: 15%;
  display: inline-block;
  margin-top: 1%;
  margin-left: 2%;
}

.content-box-detail:hover{
  background-color: #F2C9E1;
}

.footer{
  text-align: center;
  height: 2.5vw;
  width: 80%;
  margin: auto;
}

.bottom-container-text{
  font-family: 'Cabin', sans-serif;
  font-size: 1.2vw;
  color: #FAEDF0;
}